<style type="text/css">
   .GET, .POST, .DELETE, .header {
		display: table-row
	}
	.GET {
		background-color: #A7DAF0;
	}
	.POST {
		background-color: #A7F0CF;
	}
	.DELETE {
		background-color: #F0A7B0;
	}
	.header div{
		font-weight: bold;
	}
	.GET div, .POST div, .DELETE div, .header div {
		display: table-cell;
		padding: 5px;
		border: 1px solid;
	}
</style>

<div class='header'>
	<div>Created At</div>
	<div>Method</div>
	<div>URL</div>
	<div>Login</div>
	<div>RespCode</div>
	<div>RequestBody</div>
	<div>Host</div>
	<div>ResponseBody</div>
	<div>ActionsLog</div>
</div>